

@font-face {
  font-family:'ARSENAL';
  src:url(.././public/Fonts/Arsenal-Bold.ttf);
  
}
  
  
  @font-face {
    font-family:'arsenal';
    src:url(.././public/Fonts/Arsenal-Regular.ttf);

  }

    @font-face {
      font-family:'ARSENALITALIC';
      src:url(.././public/Fonts/Arsenal-BoldItalic.ttf);
      }

   
:root {
	--silver: #CEBEBE;
	--bone: #ECE2D0;
	--black: #1D1D1D;
	
  --white:#ffffff;
  --pale_dagwood:#D5B9B2;
  --rose:#A26769;
  --wine:#6D2E46;

}

